// div{
//     border: 1px solid red;
// }
#index_section{
    .steps{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0 112px;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        .steps_item{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            // flex: 1;
            img{
                display: block;
            }
            >div{
                width: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                .steps_title{
                    padding-left: 5px;
                    font-size: 26px;
                    text-align: center;
                }
                .steps_img{
                    padding: 0  75px;
                    -webkit-box-flex: 1;
                        -ms-flex: 1;
                            flex: 1;
                    text-align: center;
                    img{
                        margin: auto;
                    }
                }
            }
        }
    }
    .upload_type{
        margin-top: 70px;
        .upload_text{
            width: 100%;
            text-align: center;
            font-size: 26px;
            a{
                color: #0486FE;
            }
        }
        .upload_file{
            padding: 35px 235px 0 250px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            // border: 1px solid red;
            >input{
                padding: 0 20px;
                font-size: 26px;
                border-radius:10px 0  0px 10px; 
                border:1px solid #DCDFE6;
                -webkit-box-flex: 1;
                    -ms-flex: 1;
                        flex: 1;
                height: 60px;
                // border: 1px solid red;
                &:disabled{
                    background: white;
                }

            }
            .el-button{
                border:1px solid #DCDFE6;
                border: none;
                background:rgba(255,222,42,1);
                border-radius:0px 9px 9px 0px;
                font-size: 26px;
                height: 60px;
                color: #000;
                // border: 1px solid red;
                &:hover{
                    background: #FFE55E
                }
            }

        }
        .upload_submit{
            margin-top: 70px;
            text-align: center;
            .el-button{
                border: none;
                color: black;
                font-size: 26px;
                padding: 16px 48px;
                background:rgba(255,222,42,1);
                border-radius:100px;
                &:hover{
                    background: #FFE55E;
                }
            }
            .jump{
                border:1px solid  #DCDFE6;
                color: #5A5E66;
                font-size: 26px;
                padding: 16px 48px;
                background:#FFFFFF;
                border-radius:100px;
                &:hover{
                    background: #FFFFFF;
                }
            }
        }
    }
    .upload_type_two{
        // padding: 0 200px;
        margin: 70px 200px 0 200px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        .title{ 
            border-bottom: 1px solid #EBEEF5;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            // margin-bottom: 15px;
            >div{
                   padding: 15px 0;
                    font-size: 16px;color: #909399;
                    text-align: center;
                    -webkit-box-flex:1;
                        -ms-flex:1;
                            flex:1;
            }
        }
        .el-form{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            .form_children{
                padding-top: 15px;
                border-bottom: 1px solid #EBEEF5;
                width: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                .el-form-item{
                    text-align: center;
                    -webkit-box-flex:1;
                        -ms-flex:1;
                            flex:1;
                }
            }
        }
        .button_group{
            padding-top: 15px;
            padding-left: 65px;
        }
        .form_group{
            margin-top: 50px;
            text-align: center;
            >.el-button{
                margin: 0 40px;
                font-size: 26px;
                border-radius: 100px;
                padding: 16px 46px;
                &:nth-child(1){
                    background: white;
                    color: #5A5E66;
                    border:1px solid rgba(220,223,230,1)
                }
                &:nth-child(1):hover{
                    background: #F5F6FA;
                }
                &:nth-child(2){
                    color: #000000;
                    border: none;
                    background:rgba(255,222,42,1)
                }
                &:nth-child(2):hover{
                    background:#FFE55E;
                }
            }
        }
    }
    .index_show{
        // border: 1px solid red;
        &>.index_show_content:first-child{
            font-size: 26px;
            color: black;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding:0 105px;
            // text-align: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            >div{
                position: relative;
                // flex: 1;
                &::after{
                    content: '';
                    display: block;
                    width: 2px;
                    height: 80%;
                    background: rgba(151,153,159,1);
                    position: absolute;
                    top: 50%;
                    left: -85px;
                    -webkit-transform: translate(-50%,-50%);
                            transform: translate(-50%,-50%);
                    // border-left: 2px solid rgba(151,153,159,1);
                }
                &:first-child{
                    &::after{
                        display: none;
                    }
                }
            }
        }
        &>div:last-child{
            margin: 147px 20px 0 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            >div{
                // background:rgba(255,255,255,1);
                border:1px solid rgba(228,231,237,1);
                width: 240px;
                height: 240px;
                // border: 1px solid red;
                border-radius:10px;
                -webkit-transition: all .3s;
                transition: all .3s;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                cursor: pointer;
                &>div:last-child{
                    margin-top: 35px;
                    font-size: 26px;
                    color: #000000;
                }
                &:hover{
                    // background:rgba(255,255,255,1);
                    -webkit-box-shadow:0px 5px 12px 0px rgba(0,0,0,0.1);
                            box-shadow:0px 5px 12px 0px rgba(0,0,0,0.1); 
                }
            }
        }
    }
    .index_footer{
        img{
            position: absolute;
            bottom: 0;
            display: block;
        }
        position: fixed;
        bottom: 0;
    }
    .form_name{
        >input{
            border: none;
            text-align: center;
        }
    }
    .notice{
        text-align: center;
        width: 100%;
        // border: 1px solid red;
        .text{
            font-size: 20px;
            padding:  10px 0; 
            // border: 1px solid red;
        }
    }
}