
// 搜索公共
.seach {
  font-size: 16px;
  padding: 0 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  > .seach_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    > .el-input {
      width: 300px;
    }
  }
  > .seach_right {
    margin-left: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    > .el-select {
      width: 120px;
      & + .el-select {
        margin-left: 30px;
      }
    }
    > .seach_title {
      width: auto;
      font-style: inherit;
      color: #909399;
      margin: 0;
    }
    .check_children {
      margin-right: 29px;
      width: 180px;
    }
  }

  .checkbutton {
    border: none;
    background: #ffde2a;
    margin-left: 20px;
    color: black;
    &:hover {
      background: #ffe55e;
    }
  }
}
#ClassAchievementInfoHistory,#StudentMarkListhistory{
  
  .checkbutton {
    border: none;
    background: #ffde2a;
    margin-left: 20px;
    color: black;
    &:hover {
      background: #ffe55e;
    }
  }
}

// 班级管理
#classnotice,
#classcheck,
#classcheck_children,
#classhomework,
#classbaseTeacher,
#classbaseStudent,
#classFamily,
//审批与发布
#copy,
#examination,
#issuenotice,
#publishobj,
#stylenotice,
//成绩管理
#schoolAchievement,#PeacetimePerformance,#AchievementManagement,#ClassAchievementInfo,#PerformanceDivisionManagement,#ClassAchievementInfoHistory,#TotalPoints
,#SubjectGradeManagement,#MarkList,#MarkListInfo,#StudentMarkListhistory
{
// 搜索按钮
.seach_yellow {
  border: none;
  background: #ffde2a;
  color: black;
  &:hover {
    background: #ffe55e;
    border-color: #ffe55e;
    color: black;
  }
}
// 表格公共按钮
.look {
  color: #67c23a;
  &:hover {
    color: #7cd153;
  }
}
.delete {
  // position: relative;
  // padding: 0;
  color: #f56c6c;
  &:hover {
    color: #f77878;
  }
}
.examine{
  color: #D0021B;
  &:hover{
    color: #EE001D;
  } 
}

.warning {
  color: #f5a623;
  &:hover {
    color: #F6B344;
  }
}

.StatusActive{
    display: inline-block;
    position: relative;
    border: 1px solid #dcdfe6;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 14px;
    height: 14px;
    background-color: #fff;
    z-index: 1;
    background-color: #FFDE2A;
    border-color: #FFDE2A;
    &::after{
      -webkit-box-sizing: content-box;
              box-sizing: content-box;
      content: "";
      border: 1px solid #fff;
      border-left: 0;
      border-top: 0;
      height: 7px;
      left: 4px;
      position: absolute;
      top: 1px;
      -webkit-transform: rotate(45deg) scaleY(1);
              transform: rotate(45deg) scaleY(1);
      width: 3px;
    }
}

}

//以下需要重写seach css
#classbaseTeacher,
#classbaseStudent,
#classFamily,
#copy,
#examination,
#issuenotice,
#publishobj,
#stylenotice {
  .seach {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    .seach_left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      .section {
        margin-left: 70px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        .section_title {
          font-size: 16px;
          color: #909399;
        }
        .el-select {
          width: 120px;
          & + .el-select {
            margin-left: 30px;
          }
        }
      }
    }
    .seach_right {
      .upload-demo {
        padding: 0px 12px;
      }
    }
  }
}

#schoolAchievement,#PeacetimePerformance,#AchievementManagement,#ClassAchievementInfo,#TotalPoints,#PerformanceDivisionManagement,#MarkList,#SubjectGradeManagement,
#MarkListInfo
{
  .seach{
    padding: 0 20px 30px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .seach_right{
    margin: 0;
    // border: 1px solid red;
  }
}

//以下是弹出层通知css
#classFamily,
#copy,
#examination,
#issuenotice,
#publishobj,
#stylenotice {
  .el-dialog {
    .el-dialog__header {
      // padding: 0;
    }
    .notice {
      text-align: center;
      .text {
        font-size: 22px;
        color: #000;
        padding: 30px 0;
      }
      .el-row {
        .el-button {
          color: #5a5e66;
          padding: 14px 31px;
          font-size: 18px;
          border: 1px solid #dcdfe6;
          &:last-child {
            border: none;
            color: #000;
            background: #ffde2a;
          }
        }
      }
    }
    .container {
      width: 860px;
      height: 420px;
      background: #f7f8fc;
      padding: 0;
      .el-scrollbar {
        width: 100%;
        height: 100%;
        section {
          padding: 10px 20px;
          article {
            text-indent: 2em;
            font-size: 16px;
            color: #909399;
            margin-top: 35px;
            img {
              max-width: 100%;
            }
          }
        }
        .el-scrollbar__wrap {
          overflow-x: hidden;
          height: 100%;
        }
      }
      .title {
        font-size: 40px;
        color: black;
        font-weight: 550;
        // border: 1px solid red;
      }
      .tip {
        color: #909399;
        font-size: 16px;
        padding: 15px 0;
        border-bottom: 2px solid #e4e7ed;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        li{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          div{
            margin-right: 25px;
            margin-bottom: 3px;
          }
        }
      }
    }

    .operate {
      text-align: center;
      padding: 35px;
    }
    .button_group {
      text-align: center;
      > .el-button {
        font-size: 18px;
        padding: 14px 31px;
      }
      .next {
        color: black;
        background: #ffde2a;
        border: none;
        &:hover {
          background: #feee7c;
        }
      }
    }


    
      .lookTitle {
        font-size: 40px;
        color: black;
      }
      .el-dialog__body {
        padding-top: 16px;
        padding-bottom: 20px;
      }
      .lookContent {
        .title {
          // border: 1px solid red;
          border-bottom: 1px solid #dcdfe6;
          padding-bottom: 20px;
          // margin-bottom: 20px;
          font-size: 16px;
          color: #909399;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          .title_item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            > div {
              margin-right: 50px;
              // margin-bottom: 2px;
            }
          }
        }
        .noticeName {
          padding: 13px 30px;
          background: #f5f6fa;
          color: #67c23a;
          font-size: 16px;
          line-height: 2;
        }
        .noticeContent {
          padding: 16px 0;
          font-size: 16px;
          color: #909399;
          img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
          }
        }
      }
  }
  .el-tabs {
    .el-tabs__content {
      padding-bottom: 10px;
    }
  }
 
}
#AddTestScores{
  .el-dialog {
    .el-dialog__header {
      // padding: 0;
    }
    .title{
      text-align: center;
      font-size: 24px;
    }
    .container {
      width: 860px;
      height: 420px;
      padding: 0;
      .el-table{
        margin-top: 20px;
      }
      .el-scrollbar {
        width: 100%;
        height: 100%;
        .el-scrollbar__wrap {
          overflow-x: hidden;
          height: 100%;
        }
      }
    }
    .dialog-footer{
      margin-top: 40px;
      text-align: center;
    }
  }
}

// 班级管理
#classnotice {
}
#classcheck {
}
#classcheck_children {
}
#classhomework {
}
#classbaseTeacher {
  //添加科目
  .teahcerAdd_title {
    font-size: 32px;
    font-weight: 550;
  }
  .addInfo {
    width: 690px;
    margin: 0 auto;
    .title {
      font-size: 16px;
      color: #909399;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 16px 0;
      border-bottom: 1px solid #ebeef5;
      > div {
        text-align: center;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
      }
    }
    .el-form {
      .form_children {
        padding: 20px 0;
        border-bottom: 1px solid #ebeef5;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        > div {
          margin-bottom: 0;
          text-align: center;
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1;
        }
      }
    }
    .button_group {
      margin-top: 5px;
    }
    .form_group {
      text-align: center;
      margin-top: 20px;
      .el-button {
        padding: 14px 62px;
        font-size: 18px;
        &:first-child {
          color: #5a5e66;
          border: 1px solid #dcdfe6;
          background: white;
        }
        &:last-child {
          border: none;
          background: #ffde2a;
          color: black;
          &:hover {
            background: #feee7c;
          }
        }
      }
    }
  }
}
#classbaseStudent {
  // 添加学生
  //上传头像
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409eff;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
  }
  .avatar {
    width: 80px;
    height: 80px;
    display: block;
  }
  //弹窗
  .disalog {
    border-radius: 10px;
    .el-dialog__body {
      padding-top: 0;
    }
  }
  .student_title {
    font-size: 32px;
    font-weight: 550;
    color: black;
    &:nth-child(2) {
      padding: 20px 0 10px 0;
    }
  }
  .infoContainer {
    // border: 1px solid red;
    .studentInfo {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      > .el-form-item {
        -webkit-box-flex: calc(50% - 40px);
            -ms-flex: calc(50% - 40px);
                flex: calc(50% - 40px);
        margin: 10px 20px;
        // > label {
        //   width: 150px !important;
        // }
        // > div {
        //   margin-left: 150px !important;
        //   width: 240px;
        // }
      }
    }
    .familyInfo {
      margin: 0 20px;
      .title {
        font-size: 16px;
        color: #909399;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 16px 0;
        border-bottom: 1px solid #ebeef5;
        > div {
          text-align: center;
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1;
        }
      }
      .el-form {
        // border: 1px solid red;
        .form_children {
          padding: 20px 0;
          border-bottom: 1px solid #ebeef5;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          .el-radio {
            width: 170px;
          }
          > div {
            margin-left: 8px;
            margin-bottom: 0;
            text-align: center;
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
          }
        }
      }
      .button_group {
        margin-top: 5px;
      }
    }
  }
  .form_group {
    text-align: center;
    margin-top: 20px;
    .el-button {
      padding: 14px 62px;
      font-size: 18px;
      &:first-child {
        color: #5a5e66;
        border: 1px solid #dcdfe6;
        background: white;
      }
      &:last-child {
        border: none;
        background: #ffde2a;
        color: black;
        &:hover {
          background: #feee7c;
        }
      }
    }
  }
}
#classFamily {
}

//审批与发布
#copy {
}
#examination {
}
#issuenotice {
}
#publishobj {
  //草稿箱css
  .el-tabs {
    .el-card {
      .tip {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        .title_children {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          > div {
            color: #000;
            > span {
              color: #909399;
              font-size: 16px;
            }
            & + div {
              margin-left: 60px;
            }
          }
        }
      }
      .button_group {
        .el-button {
          font-size: 16px;
          & + .el-button {
            margin-left: 26px;
          }
        }
      }
      .title {
        margin-left: 10px;
        font-weight: 550;
        margin-top: 10px;
        font-size: 20px;
        color: #000;
      }
      .container {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        // height: 65px;
        margin-left: 10px;
        margin-top: 10px;
        color: #909399;
        font-size: 16px;
        line-height: 2;
        > img {
          max-width: 100%;
        }
      }
    }
  }
}
#stylenotice {
}
//成绩管理
#AddTestScores{
  // border: 1px solid red;
 .form{
   height: 650px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
  //  border: 1px solid red;
  a{
    color: #409EFF;
    font-size: 16px;
    margin-left: 20px;
  }
  input{
    width: 300px;
  }
  .el-form{ 
    // display: flex;
    // flex-direction: column
      .tip ,.tipTwo{
        width: 300px;
        padding: 0 0px 36px;
        margin-left: 110px;
        font-size: 12px;
        line-height: 18px;
        color: #777;
          i {
            color: #f56c6c;
          }
      }
      .tip{
        margin-left:80px;
      }

    }
  }
}

#ClassAchievementInfoHistory,#SubjectScoreAnalysis,#StudentMarkListhistory{
  .Title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    text-align: center;
    padding: 20px 0;
    .name{
      padding: 0 10px;
      font-size: 24px;
      font-weight: bold;
    }
  }
}

//学业成绩分析
#SubjectScoreAnalysis{
  .Title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .totalParticulars{
    padding: 5px 0;
    // border: 1px solid red;
    ul{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-bottom: 1px solid #ebeef5;
      li{
        padding: 8px 0;
        text-align: center;
      }
       >li{
        -ms-flex-preferred-size: 220px;
            flex-basis: 220px;
        // border: 1px solid red;
      }
      li:last-child{
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1
      }
    }
  }
}

//总成绩
#TotalPoints{
  // .content{
  //   display: flex;
  //   flex-direction: column;
  //   border: 1px solid red;
  // }
  .checkItem{
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    .All{
      -ms-flex-preferred-size: 150px;
          flex-basis: 150px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .itemAll{
      // border: 1px solid red;
      -ms-flex-preferred-size:150px;
          flex-basis:150px;
      // border: 1px solid red;
    }
  }
 
}

//分页css
.PageDiv{
  padding: 10px;
  text-align: center;
  .el-input__icon{
    line-height: normal;
  }
}